<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/donor_check.css">
</head>
<body>
    
    <div class="form-wrapper">
    <div id="before">
        <h1>You Have Been</h1>
        <h1>Registered As a {{position}}</h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1>Please Check You Mail</h1>
        <h1>For Further Updates</h1>
        <div class="form-footer">
          <p><a href="/">Click Here To Return Back!</a></p>
        </div>
      
      </div>
      </div>

    <script src="./js/donor_check.js"></script>
</body>
</html>